.accountName {
  font-size: 1.15em;
}

.accountId {
  font-size: 0.95em;
}

.section {
  margin-top: 1em;

}

.accountBalance {
  font-size: 1.5em;
  font-weight: 500;
}

.actionButtonText {
  text-align: left;
  font-size: 1.25em;
  text-decoration: underline;
}

.actionButton {
  width: 100%;
}
